@import '../utils';
@import '../../node_modules/LykkeFramework/assets/scss/partials/form';

.select-dropdown {
  &__control {
    border-radius: $border-radius;
    border: solid 1px $gray-25;
    cursor: pointer;
    height: 50px;
    line-height: 3;

    @include rem(padding, 0 20px);

    @media (max-width: $screen-landscape) {
      line-height: 3.5;
    }

    @media (max-width: $screen-mobile) {
      line-height: 4;
    }

    .icon {
      position: absolute;
      top: 17px;
      right: 6px;
      color: rgba($secondary, 0.8) !important;
    }
  }

  &__container.dropdown__container {
    display: none;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  &.dropdown_open {
    .dropdown__container {
      display: inherit;
    }
  }

  &__placeholder {
    opacity: 0.6;
  }

  &__search {
    @include rem(padding, 10px);

    input {
      @include rem(padding, 15px);
    }
  }

  &__option {
    border-radius: $border-radius;
    cursor: pointer;

    &_focused {
      background-color: $gray-5;
    }

    &_selected {
      background-color: $blue;
    }
  }

  .dropdown__nav {
    box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4),
      0 5px 5px 0 rgba(63, 77, 96, 0.05);
    margin: 0;
    width: 100%;

    .select-dropdown {
      &__option {
        a {
          @include rem(padding-left, 20px);
          @include rem(padding-right, 15px);
        }

        &_selected {
          a {
            color: $white;
          }
        }
      }
    }

    .dropdown-list__item {
      @include rem(padding, 0);

      &_category {
        @include rem(margin-top, 5px);
        @include rem(padding-top, 5px);
        @include rem(padding-bottom, 5px);

        &:first-child {
          @include rem(margin-top, -5px);
        }
      }

      &:hover {
        background: inherit;
      }
    }
  }
}
