@import '../utils';

.lykke-tab {
  width: 100%;
  height: 100%;
}

.lykke-tabs {
  width: 100%;
  height: 100%;

  .lykke-tabs-labels {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;

    .lykke-tab-label {
      cursor: pointer;
      color: #8c94a0;
      border-bottom: 2px solid transparent;
      line-height: 1;
      @include rem(font-size, 18px);
      @include rem(padding-bottom, 15px);

      &:not(:last-child) {
        @include rem(margin-right, 22px);
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-bottom-color: #0388ef;
        color: #111111;
        font-weight: 600;
      }
    }
  }
}
