@import '../utils';

.radiobutton-container {
  position: relative;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 2.22;
  color: #333333;
  @include rem(font-size, 18px);

  .radiobutton {
    display: none;
  }

  .radiobutton + span {
    position: relative;
    padding-left: 48px;
    user-select: none;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffffff;
      border: solid 1px #d3d6db;
    }
  }

  .radiobutton:checked + span {
    &:before {
      background-color: #0388ef;
    }

    &:after {
      display: block;
      position: absolute;
      top: 7px;
      left: 7px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #f5f6f7;
    }
  }
}
