@import '../utils';
@import '../../node_modules/LykkeFramework/assets/scss/partials/status_icon';

.lykke-app-error {
  padding: 3vh 0;

  a {
    text-decoration: none;
  }

  &__status-code {
    color: $text;
    font-weight: $fw-thin;
    text-align: center;

    @include rem(font-size, 96px);
  }

  &__status-text {
    color: #000;
    font: {
      family: Akrobat, 'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', Arial,
        sans-serif;
      weight: $fw-semi;
    }
    line-height: 1.25;
    margin-bottom: 2.5rem;
    text-align: center;

    @include rem(font-size, 40px);
  }

  &__description {
    margin-bottom: 0;
    color: $text;
    text-align: center;
    letter-spacing: normal;
    line-height: 1.64;

    @include rem(font-size, 22px);

    a {
      color: #1694fb;
    }
  }

  &__action {
    margin-top: 6rem;

    .btn {
      @include rem(min-width, 150px);
      @include rem(padding, 14px 22px);
    }
  }

  &__auxiliary-text {
    margin-top: 6rem;

    a {
      color: $blue;
      font-weight: bold;
    }
  }
}
